<h1>Produkter</h1>
<div class="container">
    @foreach (var board in Model)
    {
        <div class="column">
            <div class="card">
                <img src="@board.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@board.Name</h5>
                    <p class="card-text"><strong>Længde:</strong> @board.Length feet</p>
                    <p class="card-text"><strong>Bredde:</strong> @board.Width inches</p>
                    <p class="card-text"><strong>Tykkelse:</strong> @board.Thickness inches</p>
                    <p class="card-text"><strong>Volume:</strong> @board.Volume liter</p>
                    <p class="card-text"><strong>Pris:</strong> @board.Price.ToString()€</p>
                    <p class="card-text"><strong>Type:</strong> @board.BoardType</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vælg antal
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">1</a></li>
                            <li><a class="dropdown-item" href="#">2</a></li>
                            <li><a class="dropdown-item" href="#">3</a></li>
                            <li><a class="dropdown-item" href="#">4</a></li>
                            <li><a class="dropdown-item" href="#">5</a></li>
                        </ul>
                         <a href="#" class="btn btn-primary">Tilføj til kurv</a>
                    </div>
                   
                </div>
            </div>
        </div>
    }
</div>



